{% extends "base.html" %}
{% block title %}创建用户{% endblock %}
{% block content %}
{% if g.form.errors %}{% for error in g.form.errors %}{{ error }}{% endfor %}{% endif %}
<div id="register">
	<ul class="breadcrumb">
		<li>创建新用户</li>
	</ul>
	<p class="pl20 pr20">您看到这个页面, 是因为你第一次使用OpenID登录本网站, 建立个人资料后, 将可以使用网站所有功能</p>
	<form class="form mt50" action="" method="POST">
		<p class="clearfix"><label class="span1 lh30 mr10">昵称</label>{{ g.form.nickname(class="span6") }}</p>
		<p class="clearfix"><label class="span1 lh30 mr10">邮件地址</label>{{ g.form.email(class="span6") }}</p>
		<p class="clearfix"><label class="span1 lh30 mr10"></label><input type="checkbox" name="agreement" /> 我同意 <a href="{{ url_for('siteapp.page', slug='agreement') }}" target="_blank">代码段条款</a></p>
		<p class="actions mt40"></p>
		<label for="" class="span1"></label>
		<input type="submit" class="ml20 btn btn-primary" value="创建资料" />
	</p>
	</form>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
